/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  line-height: 1.5;
}
.padding {
  padding: 60px 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.heading-text {
    font-size: 44px;
    text-align: center;
}
.header {
    background-color: lightgray;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.aside {
    width: 25%;
    float: left;
}
.padding {
    padding-top: 32px;
}

.article-main {
    font-size: 32px;
    display: block;
    width: 50%;
    float: left;
}
.article-main h1 {
    text-align: left;
}
.article-main p {
    font-size: 20px;
    padding: 8px 0;
}
.article-main .para{
    padding: 24px;
}
.img-resposive {
    width: 60%;   
}

.bside{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}
